mixin footer()
  footer.footer
    .footer__container
      .footer__social
        .footer__github.github
          a.github__link(href='https://github.com/denis1146/personal-site')
            img.github__img(src=require('/assets/images/github/GitHub_Logo.png') alt='Github repository')
            img.github__img(src=require('/assets/images/github/github-mark.svg') alt='Github repository')
