append vars
  - var title = 'Personal site'
  - var styles = [require('/styles/styles.scss')]
  -
    var scripts = [
      '/scripts/common.js',
      '/scripts/test.ts',
    ]

  - link.shortcutIcon = require('/assets/images/favicon.ico')
