append vars
  - var title = 'Personal site'
  - var styles = [require('/styles/styles.scss')]
  -
    var scripts = [
      '/scripts/common.js',
    ]

  -
    link.icon = require('/assets/images/PSIcon512.png')
    link.icon16x16 = require('/assets/images/PSIcon16.png')
    link.icon32x32 = require('/assets/images/PSIcon32.png')
    link.icon48x48 = require('/assets/images/PSIcon48.png')
    link.icon64x64 = require('/assets/images/PSIcon64.png')
    link.icon512x512 = require('/assets/images/PSIcon512.png')

    link.appleTouchIcon = require('/assets/images/PSIcon512.png')
    link.appleTouchIcon180x180 = require('/assets/images/PSIcon180.png')
    link.appleTouchIcon512x512 = require('/assets/images/PSIcon512.png')
