$mainFont                   : 'Roboto';
$mainFontColor              : #000;
$mainFontSize               : 17;
$mainFontSizeMax            : 27;
$mainFontWeight             : 500;
$mainLineHeight             : parts($mainFontSize * 1px);

$primary-color              : #27dfa2;
$primary-color-active       : #0ee79f;
$primary-color-1            : #b6a1ed;
$primary-color-2            : #8aedcc;
$primary-color-3            : #ed8a72;
$primary-color-4            : #ede47e;
// secondary-color

$primary-color-4a: transparentize($primary-color-4, 0.8);
