mixin attributingAnImage(title, src, author, linkToAuthor, license, linkToLicense)
  .
    #[a(href=src)=`"${title}"`] by #[a(href=linkToAuthor)=author] is licensed under #[a(href=linkToLicense)=license]
