extends ../blocks/_page.pug

block header
  +header()

block main
  main.main
    .main__container
      a.main__item.button(href='../subprojects/controls/LightAndDarkTheme/lightAndDarkTheme.html' target='_blank')
        | Light And Dark Theme Switcher
