extends ../blocks/_page.pug

block header
  +header()

block main
  main.main
    .main__container
      a.main__item.button(href='../subprojects/games/RunOrLose/runOrLose.html' target='_blank')
        | Run or lose
