extends ../blocks/_page.pug

block header
  +header(true)

block main
  main.main
    .main__container
      a.main__item.button(href='./pages/games.html')
        | Games
      a.main__item.button(href='./pages/websites.html')
        | Single-page sites
      a.main__item.button(href='./pages/controls.html')
        | Controls
