extends ../blocks/_page.pug

block header
  +header()

block main
  main.main
    .main__container
      a.main__item.button(href='../subprojects/websites/FullscreenSliderMaterialize/fullscreenSliderMaterialize.html' target='_blank')
        | Fullscreen Slider (Materialize)
      a.main__item.button(href='../subprojects/websites/RandomColorGenerator/randomColorGenerator.html' target='_blank')
        | Random Color Generator
      a.main__item.button(href='../subprojects/websites/PsNotes/psNotes.html' target='_blank')
        | PS Notes
