extends /pug/utils/_layout.pug

append vars
  -
    var title = 'Light and dark theme switcher'
    var styles = [
      require('/styles/_reset.scss'),
      require('./styles/styles.scss'),
    ]

    var scripts = ['/subprojects/controls/LightAndDarkTheme/scripts/script.js',]

    link.icon = require('/assets/images/PSIcon32.png')

block content
  .wrapper
    header.header
      .header__container
        h1.header__title= title

    main.main
      .main__container
        .main__item#item_1
          h2.main__title 1) Styles from JavaScript
          button.button
            span.button__body#btn_1 Dark
        .main__item#item_2
          h2.main__title 2) Different style sheets
          button.button
            span.button__body#btn_2 Dark
        .main__item#item_3.themeLight_3
          h2.main__title 3) Changing classes
          button.button
            span.button__body#btn_3 Dark
        .main__item#item_4
          h2.main__title 4) Custom properties
          button.button
            span.button__body#btn_4 Dark
