@import 'reset';
@import 'fonts';
@import 'vars';
@import 'mixins';

body {
  font-family: $mainFont;
  color: $mainFontColor;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
}

.warapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
}

.main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color-3a;
  font-size: $mainFontSize;

  &__item {
    background-color: $primary-color;
    padding: 30px;
    margin: 20px;
    font-weight: 500;
    border: 1px solid #000;
    border-radius: 15px;
    // text-transform: uppercase;
  }
}

.footer {
}
